@page
@model AuthorDetailsModel
@{
    ViewData["Title"] = "Author details";
}

<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
</div>

<div id="authorDetails">
    <p><strong>Tax code:</strong> <span id="authorCF"></span></p>
    <p><strong>Name:</strong> <span id="authorName"></span></p>
    <p><strong>Surname:</strong> <span id="authorSurname"></span></p>

    <button onclick="goBack()">Go back</button>
</div>

<script>

    async function loadAuthorDetails() {
        const urlParams = new URLSearchParams(window.location.search);
        const authorCF = urlParams.get('cf');

        if (!authorCF) {
            console.error('Codice Fiscale mancante nella query string!');
            return;
        }
        console.log('Codice Fiscale dell\'autore:', authorCF);
        const response = await fetch(`/api/author/${authorCF}`);

        if (!response.ok) {
            const errorMessage = await response.text();
            console.error('Errore nella richiesta API:', errorMessage);
            return;
        }

        const author = await response.json();

        document.getElementById("authorCF").innerText = author.cf;
        document.getElementById("authorName").innerText = author.name;
        document.getElementById("authorSurname").innerText = author.surname;
    }

    function goBack() {
         window.history.back();
    }

    document.addEventListener("DOMContentLoaded", loadAuthorDetails);
</script>
