@page
@model AuthorDetailsModel
@{
    ViewData["Title"] = "Author details";
}

<div style="text-align: center;">
    <br /><h1>@ViewData["Title"]</h1><br />
</div>

<div id="authorDetails" style="border: 1.5px solid darkgreen; border-radius: 10px; padding: 10px; font-family: 'Arial', sans-serif; background-color: #f9f9f9; width: 50%; margin: auto; transition: transform 0.3s;">
    <br /><p style="font-size: 1.2em; color: #352421;"><strong>Tax code: </strong><span id="authorCF"></span></p>
    <p style="font-size: 1.2em; color: #352421;"><strong>Name: </strong><span id="authorName"></span></p>
    <p style="font-size: 1.2em; color: #352421;"><strong>Surname: </strong><span id="authorSurname"></span></p>
</div>

<style>
    #authorDetails:hover {
        transform: scale(1.05);
    }
</style>

<button onclick="goBack()" style="margin-top: 15px;">Go back</button>

<script>

    async function loadAuthorDetails() {
        const urlParams = new URLSearchParams(window.location.search);
        const authorCF = urlParams.get('cf');

        if (!authorCF) {
            console.error('Codice Fiscale mancante nella query string!');
            return;
        }
        console.log('Codice Fiscale dell\'autore:', authorCF);
        const response = await fetch(`/api/author/${authorCF}`);

        if (!response.ok) {
            const errorMessage = await response.text();
            console.error('Errore nella richiesta API:', errorMessage);
            return;
        }

        const author = await response.json();

        document.getElementById("authorCF").innerText = author.cf;
        document.getElementById("authorName").innerText = author.name;
        document.getElementById("authorSurname").innerText = author.surname;
    }

    function goBack() {
         window.history.back();
    }

    document.addEventListener("DOMContentLoaded", loadAuthorDetails);
</script>
