@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="text-align: center">
    
    <h1 class="text-primary">@ViewData["Title"]</h1>
</div>


<div class="text-center" style="text-align: center;">
    <p class="font-italic"><strong>La tua privacy è importante per noi. Questa pagina descrive le politiche sulla privacy del nostro sito.</strong></p>

    <h2 class="text-dark">Informazioni raccolte</h2>
    <p>Raccogliamo vari tipi di informazioni in relazione ai servizi che forniamo, tra cui:</p>
    <ul class="list-unstyled" style="display: inline-block; text-align: left;">
        <li>Informazioni fornite direttamente dall'utente</li>
        <li>Informazioni raccolte automaticamente</li>
        <li>Informazioni da terze parti</li>
    </ul>

    <h2 class="text-dark">Uso delle informazioni</h2>
    <p>Utilizziamo le informazioni raccolte per vari scopi, tra cui:</p>
    <ul class="list-unstyled" style="display: inline-block; text-align: left;">
        <li>Fornire e migliorare i nostri servizi</li>
        <li>Personalizzare l'esperienza dell'utente</li>
        <li>Comunicare con l'utente</li>
        <li>Analizzare l'uso del sito</li>
    </ul>

    <h2 class="text-dark">Condivisione delle informazioni</h2>
    <p>Non condividiamo le informazioni personali dell'utente con terze parti, eccetto nei seguenti casi:</p>
    <ul class="list-unstyled" style="display: inline-block; text-align: left;">
        <li>Con il consenso dell'utente</li>
        <li>Per rispettare obblighi legali</li>
        <li>Per proteggere i nostri diritti</li>
    </ul>

    <h2 class="text-dark">Sicurezza delle informazioni</h2>
    <p>Adottiamo misure di sicurezza adeguate per proteggere le informazioni personali dell'utente da accessi non autorizzati, alterazioni, divulgazioni o distruzioni.</p>

    <h2 class="text-dark">Modifiche alla politica sulla privacy</h2>
    <p>Potremmo aggiornare la nostra politica sulla privacy di tanto in tanto. Notificheremo eventuali modifiche pubblicando la nuova politica sulla privacy su questa pagina.</p>

    <h2 class="text-dark">Contattaci</h2>
    <p>Se hai domande sulla nostra politica sulla privacy, contattaci all'indirizzo email: <a href="mailto:privacy@bookcase.com" class="text-decoration-none">privacy@bookcase.com</a></p>
</div>