@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="form">
    <h2>Login</h2>
    <form class="login" asp-page="/Prestito" method="post">
        <input type="email" placeholder="Email" id="email" name="email" required>
        <input type="password" placeholder="Password" id="password" name="password" required>
        <button type="submit">Sign up</button>
    </form>
    <p>Don't have an account? &nbsp;<a asp-area="" asp-page="/SignIn" class="signin-link">Register here</a></p>

</div>
